/* Spécifique à Nouvelle Partie */
.choix-nbr-player,
.info-player {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nbr-players {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nbr-players button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.info-player input {
  flex: 1;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--gris);
  padding: 5px;
  color: var(--gris);
  font-size: 1rem;
}
